<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.db.app.members.MemberMapper">
	<insert id="add" parameterType="MemberVO">
		INSERT INTO MAMBERS
		VALUES(#{username},#{password},#{name},#{email},#{birth},1)
	 </insert>  	
	 
	 <select id="detail" parameterType="MemberVO" resultType="MemberVO">
	 	SELECT * 
	 	FROM MEMBERS
	 	WHERE USERNAME = #{username}
	 </select>

  </mapper>