<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.db.app.members.MemberMapper">
	<insert id="add" parameterType="MemberVO">
		INSERT INTO MEMBERS
		VALUES(#{username},#{password},#{name},#{email},#{birth},1)
	 </insert>  	
	 
	 <select id="detail" parameterType="MemberVO" resultMap="getDetailMember">
	 	SELECT * 
	 	FROM MEMBERS M 
	 		INNER JOIN MEMBER_ROLE MR
	 	 		ON M.USERNAME = MR.USERNAME
	 	 	INNER JOIN	ROLE R
	 	 		ON MR.ROLE_NUM = R.ROLE_NUM
	 	WHERE M.USERNAME = #{username}
	 </select>
	  
	 <resultMap type="MemberVO" id="getDetailMember">
		 <id property="username" column="USERNAME"/>
		 <result property="password" column="PASSWORD"/>
		 <result property="name" column="NAME"/>
		 <result property="email" column="EMAIL"/>
		 <result property="birth" column="BIRTH"/>
		 <result property="enabled" column="ENABLED"/>
		<!--  <association property=""></association>  1:1  회원이 자격을 하나만 가지면 -->
		<!-- 1:N 회원이 자격을 여러개 가지면 -->
		 <collection property="vos" javaType="java.util.List" ofType="RoleVO"> 
		 	<id property="roleNum" column="ROLE_NUM"/>
		 	<result property="roleName" column="ROLE_NAME"/>
		 </collection>
	 </resultMap>
	 
	 <insert id="addRole" parameterType="java.util.Map">
		INSERT INTO MEMBER_ROLE
		VALUES(#{username},#{roleNum})
	 </insert> 

  </mapper>