<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.db.app.qna.QnaMapper">
  	<insert id="addFile" parameterType="QnaFileVO">
  		INSERT INTO QNAFILES (
  						FILE_NAME
  					   , ORI_NAME
  					   , BOARD_NUM
  					)
  					VALUES(
  						 #{fileName}
  				      , #{oriName}
  				      , #{boardNum})
  		
  	
  	</insert>
	  <select id="getList" resultType="QnaVO" parameterType="Pager">
	  	SELECT * 
	  	FROM QNA
	  	<where>
		  	<if test="kind == 'k1'">
		  		BOARD_WRITER LIKE CONCAT('%',#{search},'%')
		  	</if>
		  	<if test="kind == 'k2'">
		  		BOARD_CONTENTS LIKE CONCAT('%',#{search},'%')
		  	</if>
		  	<if test="kind == 'k3'">
		  		BOARD_TITLE LIKE CONCAT('%',#{search},'%')
		  	</if>
	  	</where>
	  	ORDER BY BOARD_NUM DESC
	  	LIMIT #{startRow}, #{perPage}
	  </select>
	  <!--AUTO_INCREMENT 하고 난 값을 boardNum에 넣는다?  -->
	  <insert id="add" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="boardNum">

	  	INSERT INTO QNA
	  	VALUES (
	  			#{boardNum}
	  			, #{boardWriter}
	  			, #{boardTitle}
	  			, #{boardContents}
	  			, NOW()
	  			, #{ref}
	  			, 0
	  			, 0
	  	)
	  </insert>
	  <update id="refUpdate" parameterType="QnaVO">
	  		UPDATE QNA 
	  			SET REF = #{boardNum}
	  		WHERE BOARD_NUM = #{boardNum}
	  
	  </update>
	  <select id="getDetail" parameterType="QnaVO" resultMap="getDetailResult">
	  	SELECT *
	    FROM QNA Q
	    LEFT JOIN
	    QNAFILES QF
	    	ON Q.BOARD_NUM = QF.BOARD_NUM
	    WHERE Q.BOARD_NUM = #{boardNum} 
	  </select>
	  
	  <resultMap type="QnaVO" id="getDetailResult">
	  	<id property="boardNum" column="BOARD_NUM"/>
	  	<result property="boardTitle" column="BOARD_TITLE"/>
	  	<result property="boardWriter" column="BOARD_WRITER"/>
	  	<result property="boardContents" column="BOARD_CONTENTS"/>
	  	<result property="createDate" column="CREATE_DATE"/>
	  	<result property="ref" column="REF"/>
	  	<result property="step" column="STEP"/>
	  	<result property="depth" column="DEPTH"/>
	  	<collection property="ar" javaType="java.util.List" ofType="QnaFileVO">
	  		<id property="fileNum" column="FILE_NUM"/>
	  		<result property="fileName" column="FILE_NAME"/>
	  		<result property="oriName" column="ORI_NAME"/>
	  	</collection>
	  
	  
	  </resultMap>
  
  </mapper>